# Ignore virtual environment
.biopixvenv/

# Ignore build artifacts
build/
dist/

# Ignore pycache files
__pycache__/

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore specific executable or binary files
optimized_tools.cp311-win_amd64.pyd
old exes/

# Ignore personal notes or config files (not code)
personal_notes.txt
setup_venv.bat
startup_status

# Ignore legacy or unused files or folders
legacy/
src/
main.py
pyproject.toml
.python-version

# Ignore any other files not related to the code
*.log
*.tmp
*.bak
*.swp

# Ignore tester.py (do NOT track this file)
/tester.py
/test_bar_plot.png
/utils/mask_counter.py
/utils/prep_tifs_4_testing.py
/BioPixel.spec

# Include models and images directories
models/
images/icon/
images/test_images/
images/test_music/
images/images/BioPixelIcon_small.png
images/images/Designer (1).jpeg
images/images/Designer.jpeg
images/images/Designer__1_-removebg-preview.png
images/images/Default_A_vibrant_futuristic_splash_screen_for_BioPixel_a_biol_0.jpg
images/images/Default_A_vibrant_futuristic_splash_screen_for_BioPixel_a_biol_1.jpg
images/images/Default_A_vibrant_futuristic_splash_screen_for_BioPixel_a_biol_2.jpg
images/images/Default_A_vibrant_futuristic_splash_screen_for_BioPixel_a_biol_3.jpg
images/images/Splash Screen/
images/images/Splash Screen/Designer (1).jpeg
images/images/Splash Screen/Designer.jpeg
images/images/Splash Screen/Designer__1_-removebg-preview.png